@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 100%, 74%) ;
}

.subject {
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    margin: auto;
    padding: 50px;
    padding-top:150px;
    
}

.header {
    width: 30%;
}

.section{
    width:40%;
    margin-left: 70px;

}

.h1 {
    
    color: whitesmoke;
    font-weight: 700;
    margin-bottom: 20px;
}

.paragraph {
    
    color: whitesmoke;
    font-size: 15px;
} 



.para {
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    border-radius: 8px;
    color: whitesmoke;
    height: 50px;
    width: 100%;
    padding-top:20px;
    font-size: 13px;
}

input {
 
  border-radius: 8px;
  width: 90%;
  margin: auto;
  border: 1px solid #ececec;
  border-color: rgb(214, 211, 211);
  margin-bottom: 15px;
  height: 40px;
  padding: 5px;
  padding-left: 20px;
  
  
}

.name {
    border-color: hsl(246, 25%, 77%);
}

.form {
    background-color: whitesmoke;
    padding: 20px;
    padding-top: 50px;
    border-radius: 8px;
    text-align: center;
}

.btn {
    width: 90%;
    margin: auto;
  height:40px;
  border-radius: 8px;
  border:none;
  background-color:hsl(154, 59%, 51%);
  color: white;
  font-size: 11px;
}

.sub {
    color: rgb(152, 144, 144);
    font-size: 9px;
    
}


@media screen and (max-width:500px){

    .subject {
        display: block;
        padding: 50px;
        
    }

    .header, .section {
        width: 100%;
        margin-left: 0px;
    }
}

.terms {
    color: hsl(0, 100%, 74%) ;
    font-size: 9px;
    margin-top: -11px;
    margin-left: 202px;
}